*{
    box-sizing: border-box;
}

body{
    /*background-image: url("survey-image.jpg");*/
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(104, 103, 100));
    background-size: cover;
    background-repeat: no-repeat;
   
    
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.p-text{
    margin-left: 10px;

}
.wrapper{
    width: 550px;
    height: auto;
    margin: 40px auto 40px auto;
}
#title{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px yellow;

}
#description{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
text-align: center;
text-shadow: 1px 1px green;
}
 #survey-form{

     background-color: sandybrown;
     border: 1px solid rgb(235, 149, 87);
     border-radius: 5px;
 }
label{
    font-family: sans-serif;
    color: rgb(4, 48, 23);
    margin: 10px 0px 0px 15px;
}
.form-control{
    width: 520px;
    margin-left: 15px;
}

#submit{
  width: 100%;
  padding: 0.75rem;
  border-radius: 10px;
  cursor: pointer;
  color: azure; 
}
.form-check-input{
  margin:  10px 0px 0px 1px;
}
.form-check-label{
    margin-left: 20px;
}
.form-check{
    padding-left: 15px;
}

 